form(action='/exposed', method='post')
	input(type='text', name='userId', value='134256')
	input(type='text', name='currencyFrom', value='EUR')
	input(type='text', name='currencyTo', value='GBP')
	input(type='text', name='amountSell', value='1000')
	input(type='text', name='amountBuy', value='747.10')
	input(type='text', name='rate', value='0.7471')
	input(type='text', name='timePlaced', value='24-JAN-15 10:27:44')
	input(type='text', name='originatingCountry', value='FR')
	input.loginInput(type='submit', name='submit')